.form-container-login {
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* .input-container {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      width: 100%;
    }
    
    .input-label {
      margin-bottom: 0px;
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 12px;
      line-height: 16px;
      color: #475569;
    }
    
    .username-input-field {
      font-size: 14px;
      height: 40px;
      border: 1px solid #d7dfe9;
      background-color: #e2e8f0;
      color: #64748b;
      border-radius: 2px;
      margin-top: 5px;
      padding: 8px 16px 8px 16px;
      outline: none;
    }
    
    .password-input-field {
      font-size: 14px;
      height: 40px;
      border: 1px solid #d7dfe9;
      background-color: #e2e8f0;
      color: #64748b;
      border-radius: 2px;
      margin-top: 5px;
      padding: 8px 16px 8px 16px;
      outline: none;
    }
    
    .login-button {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 14px;
      color: #ffffff;
      height: 40px;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 2px;
      background-color: #0b69ff;
      border-radius: 8px;
      border: none;
      cursor: pointer;
      outline: none;
    } */

.error-message {
  align-self: start;
  font-size: 15px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: "Roboto";
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}

.lable {
  font-family: Monospace;
  font-size: 15px;
  color: black;
  margin-bottom: 15px;
}

.input {
  width: 400px;
  height: 45px;
  margin-bottom: 30px;
  border-width: 0px;
  font-family: Sans-serif;
  font-size: 12px;
  color: gray;
  padding: 10px;
  padding-left: 15px;
  outline: none;
}

@media (max-width: 576px) {
  .input {
    width: 90%;
    height: 30px;
  }

  .lable {
    font-size: 12px;
  }
}

.btn-login {
  width: 400px;
  height: 45px;
  margin-top: 10px;
  border-width: 0px;
  font-family: Sans-serif;
  font-size: 17px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: #089949;
  margin-bottom: 0px;
  cursor: pointer;
}

@media (max-width: 576px) {
  .btn-login {
    width: 90%;
    align-self: center;
  }
}

/* .error-msg {
      font-family: Sans-serif;
      font-size: 15px;
      color: red;
    } */
